<% content_for :title do %>About<% end %>
<h3>About the application</h3>
<p>
This web application was created with
<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
for the <%=link_to("Seward Co-op's", "http://seward.coop") %> CAT customer surveys.
Currently, use of this application requires your account be granted access to the
functions.
</p>

<h4>
  What is a CAT survey?
</h4>

<p>
  "CAT" stands for customer, address, and transaction.
  The goal is to gather information from a random sample of shoppers, in such a way that the data will be representative of all of our customers.
</p>
