<% content_for :title do %>Instructions<% end %>
<h3>For the surveyors</h3>
<p>When you administer
the surveys over the allotted survey period, you should obtain at
least 175 surveys per day, spread out as evenly as possible
throughout the co-op’s operating hours.
</p>
<p>

</p>
<p>When interviewing
each shopper, we suggest the following verbiage for questions one
through six.</p>
<p>

</p>
<h4>Question 1</h4>
<p>

</p>
<p style="margin-left: 0.49in; margin-bottom: 0in; line-height: 100%">
“Good (morning, afternoon, evening). We’re conducting a survey of
our customers to identify the area from which the co-op draws it
customers. I’d like to ask you six questions. First, what is the
address where you came from prior to arriving at the co-op?”
</p>
<p style="margin-left: 0.49in; margin-bottom: 0in; line-height: 100%">


</p>
<p>(Address should
include street number, street name, city, state, and ZIP Code).
</p>
<p>

</p>
<p>Please be sure and get the absolutely correct
spelling of the street name and the street suffix (e.g., Street,
Avenue, Boulevard, Way, etc.) or we will not be able to use that
customer record. If the customer does not know the address, ask for
the street intersection (e.g., Main Street &amp;&amp; Washington
Street—please separate the street names with a double ampersand
when you keypunch the intersection into the excel spreadsheet,
<b>otherwise the geocoder will not recognize the entry as an
intersection)</b>.   Lastly, if the customer is from another country,
just write down the name of that country (no address is necessary).
</p>
<p>

</p>
<p>Question 2</p>
<p>

</p>
<p>	“And is this your
home or work address, or other (e.g., shopping)?”
</p>
<p>

</p>
<p>The interviewer
should indicate either “home”, “work”, “shopping”,
“school”, or “other” on the survey form.
</p>
<p>

</p>
<p>Question 3</p>
<p>

</p>
<p style="margin-left: 0.49in; margin-bottom: 0in; line-height: 100%">
“What is the address where you will be going to after you leave the
co-op?” (Including street number, street name, city, state, and ZIP
Code).
</p>
<p>

</p>
<p>Again, please be
sure to have the interviewer print legibly and get the absolutely
correct spelling of the street name and the street suffix. If the
customer does not know the address, ask for the street intersection
(e.g., Main Street/Washington Street).
</p>
<p>

</p>
<p>Question 4</p>
<p>

</p>
<p style="margin-left: 0.49in; margin-bottom: 0in; line-height: 100%">
“And is this your home or work address, or other (e.g., shopping)?”
</p>
<p>

</p>
<p>The interviewer
should indicate either “home”, “work”, “shopping”,
“school”, or “other” on the survey form.
</p>
<p>

</p>
<p>Question 5</p>
<p>

</p>
<p style="margin-left: 0.49in; margin-bottom: 0in; line-height: 100%">
 “Which location (Before or After) prompted your visit to our co-op
today?”</p>
<p style="margin-left: 0.49in; margin-bottom: 0in; line-height: 100%">


</p>
<p> This question is
designed to determine whether the customer is shopping the co-op
because of its convenience to the address/location they are coming
from, or the address/location that they are going to upon leaving the
co-op. For example, the customer may work downtown, and shop the
co-op because of its convenience to his/her place of work rather than
his/her home.
</p>
<p>

</p>
<p>If the respondent
says that both locations (Before and After) equally prompted their
visit to the co-op, then the interviewer should indicate “Both”
on the survey form.
</p>
<p>

</p>
<p>Question 6</p>
<p>

</p>
<p>	“And how much did
you spend here today?”.
</p>
<p>

</p>
<p>The interviewer
should round the purchase amount to the nearest dollar.
</p>
<p>

</p>
<p>Remember, we are not
interested in what they spend on average over the course of a week,
month, or year; we only want to record what they spend on the day
they are interviewed.
</p>
</body>
</html>