<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Before Street</Data></Cell>
        <Cell><Data ss:Type="String">After Street</Data></Cell>
        <Cell><Data ss:Type="String">Amount Spent Today</Data></Cell>
      </Row>
    <% @cats.each do |cat| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= cat.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= cat.before_street %></Data></Cell>
        <Cell><Data ss:Type="String"><%= cat.after_street %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= cat.amount_spent_today %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>